$white: #fff;
$white-primary: #dbdbdb;
$white-opacity: rgba(#fff, 0.2);
$black: #000000;
$bg-black: #171717;

$border: 1px solid $white-opacity;

@mixin tablet {
  @media screen and (min-width: 720px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1020px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1400px) {
    @content;
  }
}
